*{
  padding: 0;
  margin: 0;
  border: 0;
}
.container{
    display: flex;
    /* border: 5px solid cornflowerblue; */
    align-items: center;
}
.not-img-container{
    /* border: 5px solid rgb(202, 95, 28); */
    margin-left: 60px;
}

.project_logo_image{
  margin-left: 30px;
  max-width: 100px;
}
.container-2{
    display: flex;
    /* border: 5px solid cornflowerblue; */
    align-items: center;
}
.not-img-container-2{
    /* border: 5px solid rgb(202, 95, 28); */
    margin-left: 60px;
}

.social_logo_image{
  margin-left: 30px;
  max-width: 100px;
}
