@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&family=Open+Sans:wght@400;500;600&family=Raleway:wght@100;200&display=swap');
*{
  padding: 0;
  margin: 0;
  border: 0;
}

body{
  background-color: #000000;
  color: white;
  font-family: 'Inter', sans-serif;
}
.container{
    display: flex;
    /* border: 5px solid cornflowerblue; */
    align-items: center;
    margin-bottom: 20px;
}
.not-img-container{
    /* border: 5px solid rgb(202, 95, 28); */
    margin-left: 30px;
}

.project_logo_image{
  margin-left: 10px;
  max-width: 100px;
}
.container-2{
    display: flex;
    /* border: 5px solid cornflowerblue; */
    align-items: center;
}
.not-img-container-2{
    /* border: 5px solid rgb(202, 95, 28); */
    margin-left: 30px;
}

.social_logo_image{

  max-width: 60px;
}


.image-container{
    display: flex;
    margin-left: 10px;
    /* border: 5px solid blue; */
    border-radius: 50%;
    overflow: hidden;
    margin-top: 15px;

}

.Top-text{
  max-width: 35%;
  font-size: 48px;

  font-style: normal;
  font-weight: 500;
  letter-spacing: -1px;
  line-height: 56px;
  text-align: start;
  text-decoration: none;
  text-transform: none;
  font-style: bold;
  
}

.section-1{
  margin-left: 5.2%;
  text-align: left;
  margin-top: 6.6%;
  margin-bottom: 6.6%;
}

.project-heading{
  margin-top: 60px;
  margin-bottom: 40px;
  color: #525252;

  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0px;
  line-height: 24px;
  text-align: start;
  text-decoration: none;
  text-transform: none;
}
.social-media-heading{
  margin-top: 60px;
  margin-bottom: 40px;
  color: #525252;

  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0px;
  line-height: 24px;
  text-align: start;
  text-decoration: none;
  text-transform: none;
}

.social_email{
  color: #737373;
}
.project_description{
  color: #737373;
}

.bio{
  margin-top: 30px;
  max-width: 30%;
  color: #737373;
}

.bio-heading{
  margin-top: 60px;
  margin-bottom: 40px;
  color: #525252;

  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0px;
  line-height: 24px;
  text-align: start;
  text-decoration: none;
  text-transform: none;
}

.project_website{
  font-size: 14px;
}
.project_description{
  font-size: 14px;
}
.social_website{
  font-size: 14px;
}
.social_email{
  font-size: 14px;
}

.profile-img{
  max-width: 80px;
}

.profileImg-container{
  display: flex;
  /* border: 5px solid blue; */
  border-radius: 50%;
  overflow: hidden;
  margin-top: 70px;
  margin-bottom: 50px;
  max-width: 80px;

}